<mat-tab-group dynamicHeight >
  <mat-tab label="Operacion">
    <mat-tab-group dynamicHeight>
    <mat-tab label="Entregable 4 ">
      <div class="example-large-box ">
    <app-table-entregable  ></app-table-entregable>
  </div>
  </mat-tab>
  <mat-tab label="Entregable 6.3"> 

    <div class="example-small-box mat-elevation-z4">
      Small content
    </div>
  </mat-tab>
  <mat-tab label="Entregable 7"> 
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
  <mat-tab label="Entregable 9"> </mat-tab>
  <mat-tab label="Entregable 20"> </mat-tab>
  <mat-tab label="Entregable 21"> </mat-tab>
</mat-tab-group>
</mat-tab>
<mat-tab label="Seguridad">
  <mat-tab-group dynamicHeight>
  <mat-tab label="Entregable 14"> </mat-tab>
  <mat-tab label="Entregable 6"> </mat-tab>
  <mat-tab label="Entregable 21"> </mat-tab>
</mat-tab-group>
</mat-tab>
<mat-tab label="Infraestructura">
  <mat-tab-group dynamicHeight>
  <mat-tab label="Entregable 11"> </mat-tab>
  <mat-tab label="Entregable 15"> </mat-tab>
  <mat-tab label="Entregable 9.1"> </mat-tab>
</mat-tab-group>
</mat-tab>
<mat-tab label="Recaudo">
  <mat-tab-group dynamicHeight>
  <mat-tab label="Entregable 71"> </mat-tab>
  <mat-tab label="Entregable 6"> </mat-tab>
  <mat-tab label="Entregable 10"> </mat-tab>
  <mat-tab label="Entregable 16"> </mat-tab>
  <mat-tab label="Entregable 20"> </mat-tab>
</mat-tab-group>
</mat-tab>
</mat-tab-group>