<ion-content>
  <ion-grid no-padding>

    <ion-row class="middle-row" no-padding>
      <ion-col size=".804">

      </ion-col>
      <ion-col size="10.392" no-padding>
       
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8" >
  <div id="htmlData" #htmlData style="max-height: 70vh; overflow: scroll;">
  <table matTableExporter #exporter="matTableExporter" mat-table [dataSource]="dataSource"  matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> area </th>
      <td mat-cell *matCellDef="let row"> {{row.area}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="fecha_captura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> fecha_captura </th>
      <td mat-cell *matCellDef="let row"> {{row.fecha_captura}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="linea">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> linea </th>
      <td mat-cell *matCellDef="let row"> {{row.linea}} </td>
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="motivo_especifico">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> motivo_especifico </th>
        <td mat-cell *matCellDef="let row"> {{row.motivo_especifico}} </td>
      </ng-container>
    <!-- Color Column -->
    <ng-container matColumnDef="estacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> estacion </th>
      <td mat-cell *matCellDef="let row" > {{row.estacion}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100,1000]"></mat-paginator>

  <button style="margin:1rem" mat-raised-button color="secondary"  (click)="downloadPDF()">Download PDF</button>
<button  style="margin:1rem" mat-raised-button color="primary" 
        (click)="exporter.exportTable('xlsx', {fileName:'table'})">Export to xlsx</button>
<button  style="margin:1rem"  id="export" mat-raised-button color="primary" 
        (click)="exporter.exportTable('csv')">Export To csv</button>
<button  style="margin:1rem" id="export" mat-raised-button color="primary" 
        (click)="exporter.exportTable('json')">Export To json</button>
<button  style="margin:1rem" id="export" mat-raised-button color="primary" 
        (click)="exporter.exportTable('txt')">Export To txt</button>

</div>


</ion-col>
<ion-col size=".804">

</ion-col>
</ion-row>
<ion-row class="bottom-row">
</ion-row>
</ion-grid>
</ion-content>

